.header{
	min-height:200px;
	background-color:yellow;
}

.box{
	overflow:hidden;
	border:5px solid red;
}

.blog{
	min-height:200px;
	background-color:blue;
	border:3px solid black;
	width:16.2%;
	float:left;
	}

	.footer{
		color:white;
		min-height:200px;
		background-color: green;
	}